<div cdkDropListGroup>
  <div class="container">
    <h2>To do</h2>

    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="box" *ngFor="let item of todo" cdkDrag>
        <!-- {{ item }} -->
        <video
          controls
          preload="auto"
          data-config="some-js-object-here"
          class="video"
        >
          <source [src]="item" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
  <button
    class="btn-play"
    mat-fab
    extended
    color="primary"
    (click)="play = !play"
  >
    <mat-icon>{{ play ? "pause" : "play_arrow" }}</mat-icon>
    {{ play ? "Pause" : "Play" }}
  </button>
  <footer>
    <div
      cdkDropList
      [cdkDropListData]="done"
      class="list"
      (cdkDropListDropped)="drop($event)"
    >
      <div *ngIf="!done.length">
        <h1 style="text-align: center">Tap scence here</h1>
      </div>

      <div class="box" *ngFor="let item of done" cdkDrag style="display: flex">
        <!-- {{ item }} -->
        <video
          controls
          preload="auto"
          data-config="some-js-object-here"
          class="video"
        >
          <source [src]="item" type="video/mp4" />
        </video>
      </div>
    </div>
  </footer>
</div>
