<div cdkDropListGroup>
  <div class="container">
    <h2>To do</h2>

    <div
      cdkDropList
      [cdkDropListData]="todo"
      class="list"
      (cdkDropListDropped)="fromListToList($event, false)"
    >
      <div class="box" *ngFor="let item of todo" cdkDrag>
        <!-- {{ item }} -->
        <video
          controls
          preload="auto"
          (playing)="onPlayingVideo($event)"
          data-config="some-js-object-here"
          class="video"
        >
          <source [src]="item" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
  <button
    class="btn-play"
    mat-fab
    extended
    color="primary"
    [disabled]="!done.length"
    (keyup)="play = !play"
    (click)="startNextVideo()"
  >
    <mat-icon>{{ play ? "pause" : "play_arrow" }}</mat-icon>
    {{ play ? "Pause" : "Play" }}
  </button>
  <footer>
    <div class="ruler" id="ruler">
      <p class="ruler-number" [id]="'ruler-' + s" *ngFor="let s of seconds">
        {{ s }}
      </p>
      <div class="vertical" *ngIf="seconds.length"></div>
    </div>
    <div
      cdkDropList
      [cdkDropListData]="done"
      class="list"
      (cdkDropListDropped)="fromListToList($event)"
    >
      <div *ngIf="!done.length">
        <h1 style="height: 18vh">Tap scence here</h1>
      </div>

      <div
        class="box"
        *ngFor="let item of done; let i = index"
        cdkDrag
        style="display: flex"
      >
        <!-- {{ item }} -->
        <video
          controls
          [id]="i"
          (playing)="onPlayingVideo($event)"
          (ended)="startNextVideo(true)"
          preload="auto"
          data-config="some-js-object-here"
          class="video"
        >
          <source [src]="item" type="video/mp4" />
        </video>
      </div>
    </div>
  </footer>
</div>
